@model NepalTradeCenter.ViewModels.ViewModelBase
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <!-- start slider -->
    <style>

h1 {
  color: #fff;
  text-align: center;
  font-weight: 300;
}

#slider {
  position: relative;
  overflow: hidden;
  /*margin: 20px auto 0 auto;*/
  /*border-radius: 4px;*/
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
  margin: 0 !important;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  /*width: 500px;*/
  width: 100%;
  height: 300px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

#slider ul li img{
    height: 100%;
    width: 100%;
    border: none;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}

    </style>

    <script>
        jQuery(document).ready(function ($) {

            //$('#checkbox').change(function () {
                setInterval(function () {
                    moveRight();
                }, 3000);
            //});

            var slideCount = $('#slider ul li').length;
            var slideWidth = $('#slider ul li').width();
            var slideHeight = $('#slider ul li').height();
            //var sliderUlWidth = slideCount * slideWidth;
            var sliderUlWidth = '100%';

            //$('#slider').css({ width: slideWidth, height: slideHeight });
            $('#slider').css({ width: '100%', height: slideHeight });

            $('#slider ul').css({ width: sliderUlWidth, marginLeft: -slideWidth });

            $('#slider ul li:last-child').prependTo('#slider ul');

            function moveLeft() {
                $('#slider ul').animate({
                    left: +slideWidth
                }, 200, function () {
                    $('#slider ul li:last-child').prependTo('#slider ul');
                    $('#slider ul').css('left', '');
                });
            };

            function moveRight() {
                $('#slider ul').animate({
                    left: -slideWidth
                }, 200, function () {
                    $('#slider ul li:first-child').appendTo('#slider ul');
                    $('#slider ul').css('left', '');
                });
            };

            $('a.control_prev').click(function () {
                moveLeft();
            });

            $('a.control_next').click(function () {
                moveRight();
            });

        });

    </script>
    <!-- end slider -->
    <!-- start form validator -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
    <!-- end form validator -->
    
</head>
<body>
    <header>
        <h1>Nepal Trade Center</h1>
    </header>
    <nav>
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("New Arrivals", "Index", "Home")</li>
            <li>@Html.ActionLink("Shop", "Index", "Home")</li>
            <li>@Html.ActionLink("My Cart", "Index", "MyCart")</li>
            <li>
                @{
                    if (Session["itemList"] != null)
                    {
                        @Html.ActionLink("Proceed to Checkout(" + @Session["quantity"] + ")", "Index", "MyCart")
                        //<input type="button" class="proceedToCheckout" value="Proceed to Checkout( @Session["quantity"] )"/>
                    }
                }
            </li>

        </ul>
        
    </nav>  
    <div class="container">
        <div class="row">
            <aside class="col-md-2">
                <h2>Categories</h2>
                <ul>
                    @{
                        foreach (var element in Model.getCategoryList())
                        {
                            <li>@Html.ActionLink((string)element.name , "categoryBasedProduct", "Home", new { categoryId = element.categoryId }, null)</li>
                        }
                    }
                    @*<li>@Html.ActionLink("Pumps", "Index", "Category", new { categoryId = 3}, null)</li>
                    <li>@Html.ActionLink("Platforms", "Index", "Category")</li>
                    <li>@Html.ActionLink("Sandals", "Index", "Category")</li>
                    <li>@Html.ActionLink("Sneakers", "Index", "Category")</li>
                    <li>@Html.ActionLink("Wedges", "Index", "Category")</li>
                    <li>@Html.ActionLink("Flats", "Index", "Category")</li>
                    <li>@Html.ActionLink("Ankle Boots", "Index", "Category")</li>*@
                </ul>
            </aside>
            <section class="col-md-10">
                <!-- start slider -->
                <div id="slider">
                    <a href="#" class="control_next">>></a>
                    <a href="#" class="control_prev"><</a>
                    <ul>
                        <li><img src="~/Content/images/slider-image1.jpg"/></li>
                        <li><img src="~/Content/images/slider-image2.jpg" /></li>
                    </ul>
                </div>
                <!-- end slider -->
                @RenderBody()

            </section>
        </div>
    </div>
    
        
    
    

    

    @*<div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>*@

    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
