@model NepalTradeCenter.ViewModels.HomeViewModel

@{
        ViewBag.Title = "Home Page";
    }

    <!-- start New Arrival -->
        <section id="mainContent">

            <div class="container">
                <h2>New Arrivals</h2>
                <div class="row">

                    <div class="col-md-12">
                        @{
                            if (Model.getProductList().Count == 0)
                            {
                                <h3>No Product found...</h3>
                            }
                            else
                            {
                                int count = 0;
                                foreach (var element in Model.getProductList())
                                {
                                    count++;
                                    if (count <= 3)
                                    {
                                        <div class="col-md-4">
                                            <div class="myProduct">
                                                <a href="#">
                                                    @if (@element.imageAddress != null)
                                                    {
                                                        <img src="@Url.Content(element.imageAddress)" width="186" height="210" />
                                                    }
                                                    else
                                                    {
                                                        <img src="@Url.Content(ViewBag.defaultImageAddress)" width="186" height="210" />
                                                    }

                                                </a>
                                                <div class="productBottom">
                                                    <span class="productPrice">Rs. @Convert.ToInt32(element.sellingPrice)</span>
                                                    <a class="addToCart" href="@Url.Action("addItem", "MyCart", new { productId = element.productId })">Add to Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                }
                            }
                        }

                        
                    </div>
                </div>
            </div>
        </section>
        <!-- end New Arrival -->

        <!-- start Best Seller -->
        <section id="bestSeller">

            <div class="container">
                <h2>Best Sellers</h2>
                <div class="row">

                    <div class="col-md-12">

                        <div class="col-md-4">
                            <div class="myProduct">
                                <a href="#">
                                    <img src="~/Content/images/pic4.jpg" />

                                </a>
                                <div class="productBottom">
                                    <span class="productPrice">Rs. 860</span>
                                    <a class="addToCart" href="#">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="myProduct">
                                <a href="#">
                                    <img src="~/Content/images/pic5.jpg" />

                                </a>
                                <div class="productBottom">
                                    <span class="productPrice">Rs. 860</span>
                                    <a class="addToCart" href="#">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="myProduct">
                                <a href="#">
                                    <img src="~/Content/images/pic6.jpg" />

                                </a>
                                <div class="productBottom">
                                    <span class="productPrice">Rs. 860</span>
                                    <a class="addToCart" href="#">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end Best Seller -->